.popupButton {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: aliceblue;
  color: black;
  padding: 20px;
  box-shadow: 0 0 10px aliceblue(0, 0, 0, 0.2);
}

.quizTitle {
  background-color: azure;
  color: black;
}
